
{% extends "main/base_templates/base.html" %}
{% load static %}
{% block content %}
{% load custom_filters %}
<style>
/* .investment-hero-section */
.business-hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('{% static "main/img/home/background.jpg" %}'); /* Background image */
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.hero-content {
    position: relative;
    z-index: 2;
    color:#007bff; /* Text color */
    text-align: center;
    padding: 120px;
    margin: 0 auto; /* Centers the content horizontally */
    max-width: 800px; /* Restricts the width of the content */
    margin-top: 20px; /* Adjusts the space above */
    box-sizing: border-box; /* Includes padding in the element's total width and height */
}

.hero-title {
    font-size: 2.5rem; /* Adjusts the size of the title */
    margin-bottom: 20px;
    color: #000; /* Adjust title color */
}

.hero-text {
    font-size: 20px; /* Adjusts the size of the text */
    line-height: 1.6;
    color: #007bff;
    font-weight: 400; /* Use a valid font-weight value */
}

.hero-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Prevent interaction with the animated images */
    z-index: 1;
}
.hero-animation img {
    position: absolute;
    width: 100%;
    height: 800px;
    animation: fadeInOut 8s infinite;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
/* Animation for images */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
/* Delay animations for sequential display */
.hero-animation img:nth-child(1) {
    animation-delay: 0s;
}
.hero-animation img:nth-child(2) {
    animation-delay: 4s; /* Start the second image after the first */
}

@media (max-width: 1024px) {
    .hero-content {
        padding: 100px 20px; /* Reduce padding for tablets */
    }

    .hero-title {
        font-size: 2rem; /* Smaller title for tablets */
    }

    .hero-text {
        font-size: 1rem; /* Smaller text for tablets */
    }
}


/* .info-section */
.info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: white;
}
.info-content {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
}
.info-content h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}
.info-paragraph {
    font-size: 1.2rem; 
    line-height: 1.6; 
    color: black; 
    margin: 0;
    padding: 0; 
    text-align: left; 
}
.read-more {
    display: inline-block;
    margin-top: 15px;
    font-size: 1rem;
    color: blue;
    background-color: white;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}
.read-more:hover {
    background-color: #6a6a8a;
    color: white;
}
.info-video {
    flex: 1;
    max-width: 50%;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-video video {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 8px; 
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .info-section {
        flex-direction: column;
        text-align: center;
    }
    .info-content {
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .info-video {
        max-width: 100%;
        padding-left: 0;
    }
    .info-paragraph {
        font-size: 1rem; 
        line-height: 1.4; 
    }
} 


/* .products-section */
.products-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: white; /* Light background color for the section */
}

.products-image {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
}
.products-image img {
    width: 100%;
    height: 600px;
    border-radius: 8px; /* Optional: rounded corners */
}
.products-text {
    flex: 1;
    max-width: 50%;
    padding-left: 20px; 
}
.products-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: black;
}
.products-text h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    color: black;
}
.product-features li {
    font-size: 1.2rem;
    background-color: #f9f9f9;
    color: black;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none; 
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
}
.product-features li:hover {
    background-color: #6a6a8a;
    color: white;
    transform: translateX(10px); /* Move the item slightly to the right on hover */
}
.product-features li:not(:last-child) {
    margin-bottom: 15px; /* Add space between list items */
    list-style-type: none;  /* Removes bullets */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .products-section {
        flex-direction: column;
        text-align: center;
    }
    .products-image {
        max-width: 100%;
        padding-right: 0; 
        margin-bottom: 20px;
    }
    .products-text {
        max-width: 100%;
        padding-left: 0;
    }
}


/* .subscribebox */
.subscribebox {
    display: flex;
    flex-wrap: wrap;
    width: 200%;
    max-width: 1000px;
    gap: 20px; /* Space between elements */
    padding: 20px;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
    background-color: #6a6a8a; /* Gradient background */
    margin-top: 20px;
justify-content: center;
margin-left: 150px;
}

.subscribebox label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

.subscribebox input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1.5rem;
}

.subscribebox button[type="submit"] {
    padding: 10px 20px;
    background-color: white;
    color: #6a6a8a;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscribebox button[type="submit"]:hover {
    background-color: blue;
    color: #f9f9f9;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
    .subscribebox {
        flex-direction: column;
        align-items: stretch; /* Ensure items stretch to full width */
    }
    
    .subscribebox input[type="text"],
    .subscribebox button[type="submit"] {
        width: 100%;
        margin: 0; /* Remove margin if needed */
        margin-top: 10px; /* Add some space between elements */
    }
    
    .subscribebox button[type="submit"] {
        margin-top: 10px; 
    }
}
/* Container to hold all cards */
.cards-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping if needed */
    gap: 20px; /* Space between the cards */
    justify-content: center; /* Centers the cards */
    padding: 20px;
    background-color: #f4f4f9; /* Optional: light background color */
    box-sizing: border-box; /* Include padding in the total width */
}

/* Individual card styling */
.card {
    flex: 0 1 calc(33.33% - 20px); /* Ensures 3 cards per row with gap included */
    max-width: calc(33.33% - 20px); /* Maximum width to maintain layout */
    height: 400px; /* Fixed height */
    background: white;
    border: 1px solid #ddd; /* Optional: border for the cards */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensures padding is included in width */
}



/* Card image styling */
.card-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px; /* Rounded corners */
}

/* Card text styling */
.card h2 {
    margin: 20px 0 10px;
    font-size: 18px;
    color: black;
}

.card p {
    font-size: 14px;
    color: black;
    line-height: 1.5;
}

/* Hover effect for cards */
.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
   
</style>

<div class="investment-hero-section">
    <div class="hero-background"></div>
    <div class="hero-animation">
        <img src="{% static 'main/img/home/p.webp' %}" alt="Investment Animation 1">
        <img src="{% static 'main/img/home/hw.jpg' %}" alt="Investment Animation 2">
          
    </div>
    <div class="hero-content">
      {% for item in description %}
          {% if item.name == 'business opportunity' %}
              <h1 style="color: #555;font-size: 50px;font-weight: 700;text-align: center;">{{ item.name }}</h1>
              <p style="text-align: center;color: #555;">{{ item.content }}</p>
          {% endif %}
      {% endfor %}
  </div>
     
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
  <div class="info-section">
    <div class="info-content">
      {% for item in description %}
      {% if item.name == 'About Biashara Bridges business' %}
        <h1 style="color: black;">{{ item.name }}</h1>
        <p class="info-paragraph">
          {{ item.content }}</p>
          {% endif %}
      {% endfor %}
        <a href="#" class="read-more">Read more</a>
    </div>
    
    <div class="info-video">
        <video controls>
            <source src="{% static 'main/videos/intro.mp4' %}" type="video/mp4">
        </video>
    </div>
</div>
<div class="products-section">
    <div class="products-image">
        <img src="{% static 'main/img/home/k.jpg' %}" alt="Our Products">
    </div>
    <div class="products-text">
        <h1>
          <span class="textEffect"></span>
          <strong>Business Types</strong>
        </h1>
        <br><br>
      
        {% for item in businesses %}
          {% if item.name == 'RapidGrow' %}
            <h2>{{ item.name }}</h2>
            <p style="color:black;">{{ item.description }}</p>
            
            <ul class="product-features">
                {% for feature in item.features %}
                  <li>{{ feature }}</li>
                {% endfor %}
              </ul>
              
          {% endif %}
        {% endfor %}
        <br>
        <a href="#" class="read-more">Read more</a>
      </div>
      
    </div>
</div>
<br><br><br>
<div class="products-section">
  <div class="products-text">
      <h1>
      <span class="textEffect"></span>
      <strong>Business  typles</strong>
      </h1><br><br>
      <div class="products-text">
          <h2>RapidGrow</h2>
        
          <ul class="product-features">
              <li>Manufacturers</li>
              <li> Education and Training</li>
              <li>Professional Services</li>
              <li> Real business</li>
              <li>Service Providers</li>
              
        
              <br>
          </ul>
        
      </div>
      
      <a href="#" class="read-more">Read more</a>
  </div>
  <div class="products-image">
    <img src="{% static 'main/img/home/b.jpg' %}" alt="Our Products">
</div>
</div>
<br><br>
<div class="cards-container">
    <!-- Card 1 -->
    <div class="card">
        <img src="{% static 'main/img/home/o2.jpeg' %}" alt="Kenyan Products" class="card-image">
        {% for item in description %}
              {% if item.name == 'Kenyan Products' %}
                      <h1 class="card-title"> {{ item.name }}</h1>
                      <p>{{ item.content }}</p>
                  {% endif %}
              {% endfor %}
    </div>

    <!-- Card 2 -->
    <div class="card">
        <img src="{% static 'main/img/home/o8.jpeg' %}" alt="Technology Solutions" class="card-image">
        {% for item in description %}
        {% if item.name == 'Technology Solutions' %}
                <h1 class="card-title"> {{ item.name }}</h1>
                <p>{{ item.content }}</p>
            {% endif %}
        {% endfor %}
</div>


    <!-- Card 3 -->
    <div class="card">
        <img src="{% static 'main/img/home/hq720.jpg' %}" alt="" class="card-image">
        {% for item in description %}
        {% if item.name == 'Education and Training' %}
                <h1 class="card-title"> {{ item.name }}</h1>
                <p>{{ item.content }}</p>
            {% endif %}
        {% endfor %}
</div>

    <!-- Card 4 -->
    <div class="card">
        <img src="{% static 'main/img/home/o7.jpg' %}" alt="Food & Beverages" class="card-image">
        {% for item in description %}
        {% if item.name == 'Financial Services' %}
                <h1 class="card-title"> {{ item.name }}</h1>
                <p>{{ item.content }}</p>
            {% endif %}
        {% endfor %}
</div>


    <!-- Card 5 -->
    <div class="card">
        <img src="{% static 'main/img/home/k9.jpeg' %}" alt="Food & Beverages" class="card-image">
        {% for item in description %}
        {% if item.name == 'Manufacturers' %}
                <h1 class="card-title"> {{ item.name }}</h1>
                <p>{{ item.content }}</p>
            {% endif %}
        {% endfor %}
</div>

    <!-- Card 6 -->
    <div class="card">
        <img src="{% static 'main/img/home/h88.jpg' %}" alt="Business Services" class="card-image">
        {% for item in description %}
        {% if item.name == 'Business Services' %}
                <h1 class="card-title"> {{ item.name }}</h1>
                <p>{{ item.content }}</p>
            {% endif %}
        {% endfor %}
</div>

  <div class="subscribebox">
    <div class="subscribebox__label">
        <label style="font-size: 40px;">Want To Stay Informed?</label>
    </div>
    <div class="subscribebox__form">
        <form method="POST" action="">
            <input type="text" class="form-control" placeholder="Enter Your Email Address" name="emailaddress" id="emailaddress" required>
            <br>
            <button type="submit">Subscribe</button>
        </form>
    </div>
</div>
<br><br>

  
{% endblock %}

