
{% extends "main/base_templates/base.html" %}
{% load static %}
{% block content %}
{% load custom_filters %}
<style>
/* .investment-hero-section */
.investment-hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('{% static "main/img/home/background.jpg" %}'); /* Background image */
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.hero-content {
    position: relative;
    z-index: 2;
    color: #fff; /* Text color */
    text-align: center;
    padding: 120px;
    margin-bottom: auto;
    max-width: 800px; /* Restricts the width of the content */
    margin-top: 20px;
}

.hero-title {
    font-size: 2.5rem; /* Adjusts the size of the title */
    margin-bottom: 20px;
    color:blue; /* Adjust title color */
}

.hero-text {
    font-size: 20px; /* Adjusts the size of the text */
    line-height: 1.6;
    color: blue;
    font-weight: 20px;
}

.hero-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Prevent interaction with the animated images */
    z-index: 1;
}
.hero-animation img {
    position: absolute;
    width: 100%;
    height: 800px;
    animation: fadeInOut 8s infinite;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
/* Animation for images */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
/* Delay animations for sequential display */
.hero-animation img:nth-child(1) {
    animation-delay: 0s;
}
.hero-animation img:nth-child(2) {
    animation-delay: 4s; /* Start the second image after the first */
}

@media (max-width: 1024px) {
    .hero-content {
        padding: 100px 20px; /* Reduce padding for tablets */
    }

    .hero-title {
        font-size: 2rem; /* Smaller title for tablets */
    }

    .hero-text {
        font-size: 1rem; /* Smaller text for tablets */
    }
}


/* .info-section */
.info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: white;
}
.info-content {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
}
.info-content h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}
.info-paragraph {
    font-size: 1.2rem; 
    line-height: 1.6; 
    color: black; 
    margin: 0;
    padding: 0; 
    text-align: left; 
}
.read-more {
    display: inline-block;
    margin-top: 15px;
    font-size: 1rem;
    color: blue;
    background-color: white;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}
.read-more:hover {
    background-color: #6a6a8a;
    color: white;
}
.info-video {
    flex: 1;
    max-width: 50%;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-video video {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 8px; 
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .info-section {
        flex-direction: column;
        text-align: center;
    }
    .info-content {
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .info-video {
        max-width: 100%;
        padding-left: 0;
    }
    .info-paragraph {
        font-size: 1rem; 
        line-height: 1.4; 
    }
} 

/* .products-section */
.products-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: white; /* Light background color for the section */
}

.products-image {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
}
.products-image img {
    width: 100%;
    height: 600px;
    border-radius: 8px; /* Optional: rounded corners */
}
.products-text {
    flex: 1;
    max-width: 50%;
    padding-left: 20px; 
}
.products-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: black;
}
.products-text h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    color: black;
}
.product-features li {
    font-size: 1.2rem;
    background-color: #f9f9f9;
    color: black;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none; 
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
}
.product-features li:hover {
    background-color: #6a6a8a;
    color: white;
    transform: translateX(10px); /* Move the item slightly to the right on hover */
}
.product-features li:not(:last-child) {
    margin-bottom: 15px; /* Add space between list items */
    list-style-type: none;  /* Removes bullets */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .products-section {
        flex-direction: column;
        text-align: center;
    }
    .products-image {
        max-width: 100%;
        padding-right: 0; 
        margin-bottom: 20px;
    }
    .products-text {
        max-width: 100%;
        padding-left: 0;
    }
}

/* .swiper-container */
.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.swiper-slide {
    flex: 1 0 30%; /* 3 cards per row */
    box-sizing: border-box;
    margin: 10px; /* Space between cards */
}

.card {
    width: 100%;
    max-width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 6px;
    display: flex;
    justify-content: space-around;
    gap: 13px; /* Adjust this value to control the space between the cards */
    text-align: center;
    margin-left: 20%;
    
}

.card-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    color: black;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    
}
h1{
  color: black;
  font-size: 35px;
  text-align: center;
  
}
.card:hover .card-description {
    opacity: 1;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .swiper-slide {
        flex: 1 0 100%; /* 1 card per row on small screens */
        margin: 5px;
    }
    .card {
        max-width: 70%; /* Full width for cards on small screens */
    }
}
.subscribebox {
    display: flex;
    flex-wrap: wrap;
    width: 200%;
    max-width: 1000px;
    gap: 20px; /* Space between elements */
    padding: 20px;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
    background-color: #6a6a8a; /* Gradient background */
    margin-top: 20px;
justify-content: center;
margin-left: 400px;
margin-right: 250px;
}

.subscribebox label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

.subscribebox input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1.5rem;
}

.subscribebox button[type="submit"] {
    padding: 10px 20px;
    background-color: white;
    color: #6a6a8a;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscribebox button[type="submit"]:hover {
    background-color: blue;
    color: #f9f9f9;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
    .subscribebox {
        flex-direction: column;
        align-items: stretch; /* Ensure items stretch to full width */
    }
    
    .subscribebox input[type="text"],
    .subscribebox button[type="submit"] {
        width: 100%;
        margin: 0; /* Remove margin if needed */
        margin-top: 10px; /* Add some space between elements */
    }
    
    .subscribebox button[type="submit"] {
        margin-top: 10px; 
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .subscribebox {
        flex-direction: column;
        align-items: stretch; /* Ensure items stretch to full width */
    }
    
    .subscribebox input[type="text"],
    .subscribebox button[type="submit"] {
        width: 100%;
        margin: 0; /* Remove margin if needed */
        margin-top: 10px; /* Add some space between elements */
    }
    
    .subscribebox button[type="submit"] {
        margin-top: 10px; /* Add space above button */
    }
}
   
</style>
<div class="investment-hero-section">
    <div class="hero-background"></div>
    <div class="hero-animation">
        <img src="{% static 'main/img/home/invests.jpg' %}" alt="Investment Animation 1">
        <img src="{% static 'main/img/home/invest.webp' %}" alt="Investment Animation 2">
        <img src="{% static 'main/img/home/invests.jpg' %}" alt="Investment Animation 1">    
    </div>
    <div class="hero-content">
      {% for item in description %}
          {% if item.name == 'investment opportunity' %}
              <h1 style="color:white;font-size: 50px;font-weight: 700;">{{ item.name }}</h1>
              <p>{{ item.content }}</p>
          {% endif %}
      {% endfor %}
  </div>
  
      
</div>

<div class="info-section">
    <div class="info-content">
      {% for item in description %}
      {% if item.name == 'About Biashara Bridges Invest' %}
        <h1 style="color: black;">{{ item.name }}</h1>
        <p class="info-paragraph">
          {{ item.content }}</p>
          {% endif %}
      {% endfor %}
        <a href="#" class="read-more">Read more</a>
    </div>
    
    <div class="info-video">
        <video controls>
            <source src="{% static 'main/videos/intro.mp4' %}" type="video/mp4">
        </video>
    </div>
</div>

<div class="products-section">
    <div class="products-image">
        <img src="{% static 'main/img/home/r13.webp' %}" alt="Our Products">
    </div>
        <div class="products-text">
          <h1>
            <span class="textEffect"></span>
            <strong>Investment typles</strong>
            </h1><br><br>
            <h2>RapidGrow</h2>
            <p style="color:black;">Today, investment is mostly associated with financial instruments that allow individuals or businesses to raise and deploy capital to firms. These firms then rake that capital and use it for growth or profit-generating activities.</p>
            <ul class="product-features">
                <li>Up to 36% Annual Returns</li>
                <li>Minimum Risk</li>
                <li>Monthly Returns</li>
                <li style="text-decoration: none;">Short Term Investments</li>
                <br>
            </ul>

        <a href="#" class="read-more">Read more</a>
        </div>
        
    </div>
</div>
<br><br><br>
<div class="products-section">
  <div class="products-text">
      <h1>
      <span class="textEffect"></span>
      <strong>Investment typles</strong>
      </h1><br><br>
      <div class="products-text">
          <h2>RapidGrow</h2>
        
          <ul class="product-features">
              <li>Autonomous Investment</li>
              <li> Planned Investment</li>
              <li> Financial Investment</li>
              <li> Real Investment</li>
              <br>
          </ul>
        
      </div>
      
      <a href="#" class="read-more">Read more</a>
  </div>
  <div class="products-image">
    <img src="{% static 'main/img/home/r33.jpeg' %}" alt="Our Products">
</div>
</div>
<br><br><br>

<!-- card-description -->
 <h1 style="text-align: center;color: black;font-size: 40px;font-weight: 30px;">Why Invest with us?</h1>
 <br><br><br>
<div class="swiper -container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">  <div class="titles-below-cards">
        <h1>Earn Higher Returns</h1>
        </div>
        <div class="card">
          <div class="card-image-container">
            <img src="{% static 'main/img/home/h3.avif' %}"  alt="Responsive Image" class="card-image">
            <div class="card-description">

      {% for item in description %}
      {% if item.name == 'Earn Higher Returns' %}
              <h1 class="card-title"> {{ item.name }}</h1>
              <p>{{ item.content }}</p>
          {% endif %}
      {% endfor %}
              
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">  <div class="titles-below-cards">
        <h1>handpicked borrowers</h1>
        </div>
        <div class="card">
          <div class="card-image-container">
            <img src="{% static 'main/img/home/h2.jpeg' %}"  alt="Responsive Image" class="card-image">
            <div class="card-description">
              {% for item in description %}
              {% if item.name == 'handpicked borrowers' %}
                      <h1 class="card-title"> {{ item.name }}</h1>
                      <p>{{ item.content }}</p>
                  {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">  <div class="titles-below-cards">
        <h1>Safe Investments</h1>
        </div>
        <div class="card">
          <div class="card-image-container">
            <img src="{% static 'main/img/home/m8.jpeg' %}"  alt="Responsive Image" class="card-image">
            <div class="card-description">
              {% for item in description %}
              {% if item.name == 'Safe Investments' %}
                      <h1 class="card-title"> {{ item.name }}</h1>
                      <p>{{ item.content }}</p>
                  {% endif %}
              {% endfor %}
             
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">  <div class="titles-below-cards">
        <h1>Transparency to the Core</h1>
        </div>
        <div class="card">
          <div class="card-image-container">
            <img src="{% static 'main/img/home/r5.jpeg' %}"  alt="Responsive Image" class="card-image">
            <div class="card-description">
              {% for item in description %}
              {% if item.name == 'Transparency to the Core' %}
                      <h1 class="card-title"> {{ item.name }}</h1>
                      <p>{{ item.content }}</p>
                  {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>   
      <br><br>
      <div class="swiper-slide">  <div class="titles-below-cards">
        <h1>Diversified Investments</h1>
        </div>
        <div class="card">
          <div class="card-image-container">
            <img src="{% static 'main/img/home/m3.jpg' %}"  alt="Responsive Image" class="card-image">
            <div class="card-description">
              {% for item in description %}
              {% if item.name == 'Diversified Investments' %}
                      <h1 class="card-title"> {{ item.name }}</h1>
                      <p>{{ item.content }}</p>
                  {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>  
      <div class="swiper-slide">  <div class="titles-below-cards">
        <h1>Safe Investments</h1>
        </div>
        <div class="card">
          <div class="card-image-container">
            <img src="{% static 'main/img/home/m2.webp' %}"  alt="Responsive Image" class="card-image">
            <div class="card-description">
              {% for item in description %}
              {% if item.name == 'Safe Investments' %}
                      <h1 class="card-title"> {{ item.name }}</h1>
                      <p>{{ item.content }}</p>
                  {% endif %}
              {% endfor %}
             
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">  <div class="titles-below-cards">
        <h1>Premature Encashment</h1>
        </div>
        <div class="card">
          <div class="card-image-container">
            <img src="{% static 'main/img/home/r12.webp' %}"  alt="Responsive Image" class="card-image">
            <div class="card-description">
              {% for item in description %}
              {% if item.name == 'Premature Encashment' %}
                      <h1 class="card-title"> {{ item.name }}</h1>
                      <p>{{ item.content }}</p>
                  {% endif %}
              {% endfor %}
             
            </div>
          </div>
        </div>
      </div>   
      <br><br>
      <div class="swiper-slide">  <div class="titles-below-cards">
        <h1>Invoice Discounting</h1>
        </div>
        <div class="card">
          <div class="card-image-container">
            <img src="{% static 'main/img/home/r13.webp' %}"  alt="Responsive Image" class="card-image">
            <div class="card-description">
              {% for item in description %}
              {% if item.name == 'Premature Encashment' %}
                      <h1 class="card-title"> {{ item.name }}</h1>
                      <p>{{ item.content }}</p>
                  {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>  
      <div class="swiper-slide">  <div class="titles-below-cards">
        <h1>Stock Financing</h1>
        </div>
        <div class="card">
          <div class="card-image-container">
            <img src="{% static 'main/img/home/r55.jpg'%}" alt="Responsive Image" class="card-image">
            <div class="card-description">
              {% for item in description %}
              {% if item.name == 'Premature Encashment' %}
                      <h1 class="card-title"> {{ item.name }}</h1>
                      <p>{{ item.content }}</p>
                  {% endif %}
              {% endfor %}
         
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <br><br>
  <div class="subscribebox">
    <div class="subscribebox__label">
        <label style="font-size: 40px;">Want To Stay Informed?</label>
    </div>
    <div class="subscribebox__form">
        <form method="POST" action="">
            <input type="text" class="form-control" placeholder="Enter Your Email Address" name="emailaddress" id="emailaddress" required><br>
            <button type="submit">Subscribe</button>
        </form>
    </div>
</div>
<br>

  
{% endblock %}
