{% extends "main/base_templates/base.html" %}
{% load static %}
{% block content %}
{% load custom_filters %}

<link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/home.css' %}" />
<!-- Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<link
rel="stylesheet"
type="text/css"
href="{% static 'main/css/homes.css' %}"/>
<!-- Hero Section -->
<div class="hero-section animate-on-scroll" style="margin-top: -40px;">
    <div class="hero-content">
        <h1>Kenya’s Global Trade, Business, and Investment Hub</h1>
        <p>Together, we will build a vibrant ecosystem that empowers entrepreneurs, attracts investments, and strengthens the bonds between Kenya and the world.</p>
        {% if not user.is_authenticated %}
        <a href="{% url 'accounts:join' %}" class="hero-button">Get started</a>
        {% endif %}
    </div>
    <div class="hero-image">
        <img src="{% static 'main/img/home/her.png' %}" alt="Hiker">
    </div>
</div>

<!-- Our Mission and Vision Section -->
<div class="mission-vision-section animate-on-scroll">
    <div class="mission card">
        {% for item in description %}
            {% if item.name == 'Our Mission' %}
            <h2 style=" margin-bottom: 10px;"><i class="fas fa-bullseye"></i> {{item.name}}</h2>
            <p style="font-size: 15px;">
            {{item.content}}
            </p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="vision card">
        {% for item in description %}
            {% if item.name == 'OUR VISION' %}
            <h2><i class="fas fa-lightbulb"></i> {{item.name}}</h2>
            <p style="font-size: 15px;">
                {{item.content}}
            </p>
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Services Section -->
<div class="services-section animate-on-scroll">
    <div class="container swiper">
        <h2>Our Services</h2>
        <div class="section-divider">
            <div class="line"></div>
            <p>We are a full-service Trade, Training, and Investment Hub here to facilitate every aspect of your
                transition to Ghana from A to Z</p>
        </div>
        <div class="slider-wrapper swiper-container">
            <div class="card-list swiper-wrapper">
                {% for item in service %}
                <div class="card-item swiper-slide service-card" style="background-image: url('{{ item.image.url }}');">
                    <div class="service-card-inner">
                        <div class="service-card-front">
                            <h3>{{item.title}}</h3>
                        </div>
                        <div class="service-card-back">
                            <p>{{item.description|safe|truncatechars:110}}</p>
                            <a href="#" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-slide-button swiper-button-prev"></div>
            <div class="swiper-slide-button swiper-button-next"></div>
        </div>
    </div>
</div>


<!-- About Section -->
    <div class="how-it-works-section animate-on-scroll">
        <div class="container">
            <h2>WHy Us</h2>
            <div class="sec">
                <div class="lines"></div>
            </div>
            <div class="how-it-works-content">
                <div class="how-it-works-card">
                    <div class="icon-container">
                        <i class="fas fa-star"></i>
                    </div>
                    <h3>Experienced Professionals</h3>
                    <p>Schedule a 15-minute exploratory call with a Diaspora Transition Specialist to identify your goals and Africa plan.</p>
                </div>
                <div class="how-it-works-card">
                    <div class="icon-container">
                        <i class="fas fa-globe"></i>
                    </div>
                    <h3>Global Reach</h3>
                    <p>Book the relevant services on our website as outlined within your Africa Plan.</p>
             
                </div>
                <div class="how-it-works-card">
                    <div class="icon-container">
                        <i class="fas fa-shield-alt"></i>
                    </div>
                    <h3>Trustworthy Services</h3>
                    <p>Receive a seamless travel or relocation experience to Ghana guided by the Diaspora Resource Centre team.</p>
                </div>
            </div>
        </div>
    </div>
<div class="cta-section">
        <div class="container">
            <div class="cta-content">
                <h2>Ready to get <span class="highlight">started</span></h2>
                <p>Book your 15-minute exploratory call to custom curate your Africa plan today!</p>
            </div>
            <div class="cta-button">
                <a href="#" class="btn">FREE DISCOVERY CALL</a>
            </div>
        </div>
</div>
<!-- Contact Section -->
<!-- Contact Section -->
<div class="contact-section animate-on-scroll">
    <div class="container">
        <div class="contact-content">
            <div class="info-section">
                <div class="contact-info">
                    {% for item in description %}
                    {% if item.name == 'Need More Info?' %}
                    <h4>{{ item.name }}</h4>
                    <p>{{ item.content|split_help:1 }}</p>
                    {% endif %}
                    {% endfor %}
                    <p>Contact Us:</p>
                    <div class="social-icons">
                        
                        <a href="#" target="_blank" class="fab fa-linkedin-in"></a>
                        <a href="#" target="_blank" class="fab fa-facebook-f"></a>
                        <a href="#" target="_blank" class="fab fa-whatsapp"></a>
                        <a href="#" target="_blank" class="fab fa-youtube"></a>
                        <a href="#" class="fas fa-envelope"></a>
                    </div>
                </div>
            </div>
            <div class="news-section">
                <div class="side-news">
                    <h3>Latest News</h3>
                    <ul>
                        {% for news in news %}
                        <li>
                            {% if news.image %}
                            <img src="{{ news.image.url }}" alt="News Image" class="news-image">
                            {% endif %}
                            <a href="{{ news.link }}">{{ news.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>

<style>
.contact-section {
    padding: 60px 20px;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
}

.info-section, .news-section {
    flex: 1;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contact-info, .side-news {
    color: #333;
}

.contact-info h4, .side-news h3 {
    color: #333;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.contact-info p, .side-news ul {
    color: #666;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.5;
}

.side-news ul {
    list-style: none;
    padding: 0;
}

.side-news ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.side-news ul li img.news-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.side-news ul li a {
    color: #00bcd4;
    text-decoration: none;
    transition: color 0.3s;
}

.side-news ul li a:hover {
    color: #00796b;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-icons p {
    color: #333;
    margin-bottom: 10px;
}

.social-icons a {
    font-size: 1.75rem;
    transition: color 0.3s;
}

/* LinkedIn */
.social-icons .fa-linkedin-in {
    color: #0077b5;
}

/* Facebook */
.social-icons .fa-facebook-f {
    color: #3b5998;
}

/* WhatsApp */
.social-icons .fa-whatsapp {
    color: #25D366;
}

/* YouTube */
.social-icons .fa-youtube {
    color: #FF0000;
}

/* Email */
.social-icons .fa-envelope {
    color: #D44638;
}

.social-icons a:hover {
    color: #2c2c6b;
}

/* Media Queries */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .info-section, .news-section {
        width: 100%;
        margin-bottom: 20px;
    }
}



</style>



<script>
    // JavaScript for infinite scrolling effect
    document.addEventListener('DOMContentLoaded', function () {
    const elements = document.querySelectorAll('.animate-on-scroll');
    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('animate');
            }
        });
    });

    elements.forEach(element => {
        observer.observe(element);
    });

    // JavaScript for infinite scrolling effect
    const carouselTrack = document.querySelector('.carousel-track');
    let animationSpeed = 3; // Adjust this value to control the speed of the animation
    let keyframes = `@keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(-100%); }
    }`;

    let styleSheet = document.createElement("style");
    styleSheet.type = "text/css";
    styleSheet.innerText = keyframes;
    document.head.appendChild(styleSheet);

    carouselTrack.style.animation = `scroll ${animationSpeed * carouselTrack.children.length}s linear infinite loop`;

});



</script>
<style>
  .how-it-works-section {
      text-align: center;
      padding: 50px 0;
  }
  
  .how-it-works-section h2 {
      text-align: center;
      font-size: 40px;
      margin-bottom: 10px;
      font-weight: 905;
      color: #333;
  
  }
  
  .sec {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
  }
  
  .sec .lines {
      width: 60px;
      height: 4px;
      background: #000;
      
  }
  
  .how-it-works-content {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }
  
  .how-it-works-card {
      flex: 1;
      max-width: 30%;
      min-width: 200px;
      margin: 20px;
      text-align: center;
  }
  
  .icon-container {
      background-color: #800000;
      color: white;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      margin: 0 auto 20px;
  }
  
  .how-it-works-card h3 {
      font-size: 1.4em;
      margin-bottom: 10px;
      color: #333;
      font-weight: 200;
  }
  
  .how-it-works-card p {
      font-size: 1em;
      color: #333
  }
  .cta-section {
      background-color: #fff;
      padding: 60px 0;
      height: 220px;
      text-align: center;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
      
  }
  
  .cta-section .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      /* margin: 0 auto; */
      margin-left: -0px;
      
  }
  
  .cta-content {
      flex: 1;
  }
  
  .cta-content h2 {
      font-size: 36px;
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
  }
  
  .cta-content h2 .highlight {
      color: #FFD700; /* Yellow color for 'started' */
  }
  
  .cta-content p {
      font-size: 16px;
      color: #666;
  }
  
  .cta-button {
      flex-shrink: 0;
  }
  
  .cta-button .btn {
      display: inline-block;
      background-color: #3C0202; /* Dark red color */
      color: #fff;
      padding: 15px 30px;
      font-size: 16px;
      text-decoration: none;
      border-radius: 5px;
  }
  
  .cta-button .btn:hover {
      background-color: #5E0303; /* Slightly lighter dark red */
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper-container', {
        loop: true,
        grabCursor: true,
        spaceBetween: 3,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            dynamicBullets: true
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            0: {
                slidesPerView: 1
            },
            768: {
                slidesPerView: 2
            },
            1024: {
                slidesPerView: 3
            }
        }
    });
</script>
<style>
    /* Importing Google Font - Montserrat */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    .services-section {
        padding: 50px 0;
    }

    .services-section h2 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 10px;
        font-weight: 905;
        color: #333;
    }

    .services-section p {
        font-size: 18px;
        font-family: sans-serif;
    }

    .section-divider {
        text-align: center;
        margin-bottom: 30px;
    }

    .section-divider .line {
        width: 60px;
        height: 4px;
        background: #000;
        margin: 10px auto;
    }

    .slider-wrapper {
       
        max-width: 1300px;
        margin: 0 70px 55px;
    }

    /* .card-list .card-item {
        height: 300px;
        color: #fff;
        user-select: none;
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        backdrop-filter: blur(30px);
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.5);
    } */

    .service-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    .service-card:hover .service-card-inner {
        transform: rotateY(180deg);
    }

    .service-card-back {
        transform: rotateY(180deg);
    }

    .service-card h3,
    .service-card p {
        margin: 0;
        text-align: center;
    }

    .service-card {
        position: relative;
        width: 100px;
        height: 321px;
        margin: 0 10px;
        flex: 0 0 auto;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    .service-card-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    .service-card-front,
    .service-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }

    .service-card-front {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }

    .service-card-back::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-color: #1b1b1b;
        filter: blur(1px);
        z-index: -200;
        opacity: 0.9;
        border-radius: 10px;
        padding: 4px;
    }

    .service-card-back p {
        margin: 0 0 10px 0;
        color: white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        line-height: 1.5;
        font-size: 14px;
        font-weight: 600;
    }

    .read-more {
        display: block;
        margin-top: 10px;
        color: #fff;
        text-decoration: underline;
        font-weight: bold;
    }

    .slider-wrapper .swiper-pagination-bullet {
        background: #c25353;
        margin-top: 0px;
        height: 13px;
        width: 13px;
        opacity: 0.5;
    }

    .slider-wrapper .swiper-pagination-bullet-active {
        opacity: 1;
    }

    .slider-wrapper .swiper-slide-button {
        color: #c25353;
        margin-top: 20px;
        transition: 0.2s ease;
        font-weight: 1000;
    }

    .slider-wrapper .swiper-slide-button:hover {
        color: #4658ff;
    }

    @media (max-width: 768px) {
        .slider-wrapper {
            margin: 0 10px 40px;
        }

        /* .slider-wrapper .swiper-slide-button {
            display: none;
        } */
    }
</style>


{% endblock %}
