{% load static %}
<style>
    /* Navbar Styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #6a6a8a;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar img {
    border-radius: 50%;
    height: 60px; /* Adjust as needed */
    width: 60px; /* Adjust as needed */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar .logos {
    display: flex;
    align-items: center;
}

.navbar .navList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar .navList li {
    position: relative;
    margin-right: 15px;
}

.navbar .navList .navLin {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-weight: 500;
    border-radius: 4px;
}

.navbar .navList .navLin:hover {
    background-color: #35bdbd;
    color: #002f2f;
    transform: scale(1.05);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#35bdbd;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: max-content; /* Adjust width as needed */
    z-index: 1;
    border-radius: 4px;
    animation: fadeIn 0.3s ease-in-out;
}

.dropdown-content .sub-dropdown {
    position: relative;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    margin-left: 1px;
    top: 0;
    left: 100%; /* Position the sub-dropdown to the right of the main dropdown */
    background-color: #3b5d5f;
    border-radius: 4px;
    width: max-content; /* Adjust width as needed */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Hover effect for desktop */
.sub-dropdown:hover .sub-dropdown-content,
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a, .sub-dropdown-content a {
    color:  white;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s, padding-left 0.3s;
}


.dropdown-content a:hover, .sub-dropdown-content a:hover {
    background-color: #ddd;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .dropdown {
        display: block; /* Ensure the dropdown appears as a block */
        position: static; /* Reset position for stacking items */
    }
    
    .dropdown-content {
        position: static; /* Change position to static for stacking items */
        width: 100%; /* Full width on smaller screens */
        box-shadow: none; /* Remove box shadow */
        background-color: #35bdbd; /* Transparent background */
    }
    
    .sub-dropdown {
        position: static; /* Static position for sub-dropdown items */
    }
    
    .sub-dropdown-content {
        display: none; /* Hide sub-dropdown content by default */
        position: static; /* Adjust position to stack below main dropdown */
        width: 100%; /* Full width */
        box-shadow: none; /* Remove box shadow */
        background-color: #3b5d5f; /* Background color for sub-dropdown */
    }
    
    .sub-dropdown:hover .sub-dropdown-content {
        display: block; /* Display sub-dropdown on hover */
    }
}


</style>

<nav class="navbar">
    <a href="/">  <img src="{% static 'main/img/home/logo.png' %}" alt="Logo"></a>
     <div class="logos">
         <ul class="navList">
             <div class="menu-icon" onclick="toggleNavbar()">
                 &#9776;
             </div>
         </ul>
     </div>
     <div class="list" id="navList">
         <ul class="navList">
             <li><a href="/" class="navLin">HOME</a></li>
             <li class="dropdown">
                 <a  class="navLin">ABOUT US</a>
                 <div class="dropdown-content">
                     <a href="{% url 'main:history' %}">Our History</a>
                     <div class="sub-dropdown">
                         <a href="#">Our Team</a>
                        
                     </div>
                 </div>
             </li>
            <li class="dropdown">
                <a class="navLin">SERVICES</a>
                <div class="dropdown-content">
                    {% for service in service %}
                    <div class="sub-dropdown">
                        <a href="#">{{ service.title }}</a>
                        <div class="sub-dropdown-content">
                            {% for subservice in service.subservices.all %}
                            <a href="{{ subservice.link }}">{{ subservice.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </li>
            
            {% if user.is_authenticated %}
                <li><a href="/news" class="navLin">RESOURCES</a></li>
                <li class="dropdown">
                    <a class="navLin">ACCOUNT</a>
                    <div class="dropdown-content">
                        <div class="sub-dropdown">
                            <a href="#">PROFILE</a>
                            <a href="{% url 'account-logout' %}">LOGOUT</a>
                        </div>  
                    </div>
                </li>
                <li><a href="/news" class="navLin">SUPPORT</a></li>
                <!-- {% if user.category == 1 %}
                    <li><a href="/admin" class="navLin">ADMIN PANEL</a></li>
                {% elif user.category == 'member' %}
                    <li><a href="/member-dashboard" class="navLin">DASHBOARD</a></li>
                {% elif user.category == 'guest' %}
                    <li><a href="/guest-info" class="navLin">GUEST INFO</a></li>
                {% endif %} -->
            {% else %}
                <li><a href="{% url 'accounts:account-login' %}" class="navLin">LOGIN</a></li>
                <li><a href="{% url 'accounts:join' %}" class="navLin">REGISTER</a></li>
            {% endif %}

           
        </ul>
    </div>
</nav>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const dropdowns = document.querySelectorAll('.dropdown');
        let activeDropdown = null;

        dropdowns.forEach(dropdown => {
            dropdown.addEventListener('mouseenter', function() {
                if (activeDropdown) {
                    activeDropdown.querySelector('.dropdown-content').style.display = 'none';
                }
                this.querySelector('.dropdown-content').style.display = 'block';
                activeDropdown = this;
            });

            dropdown.addEventListener('mouseleave', function(event) {
                // Use a timeout to handle the transition smoothly
                setTimeout(() => {
                    const relatedTarget = event.relatedTarget;
                    if (!this.contains(relatedTarget)) {
                        this.querySelector('.dropdown-content').style.display = 'none';
                        activeDropdown = null;
                    }
                }, 200);
            });
        });

        document.addEventListener('click', function(event) {
            if (activeDropdown && !activeDropdown.contains(event.target)) {
                activeDropdown.querySelector('.dropdown-content').style.display = 'none';
                activeDropdown = null;
            }
        });
    });

    function toggleNavbar() {
        const navList = document.getElementById('navList');
        navList.classList.toggle('active');
    }
</script>