{% extends "main/base_templates/base.html" %}
{% load mathfilters %}
{% block content %}

{% include 'main/snippets_templates/styles/styles.html' %}
<style>

  .card, .table {
    background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fad0c4, #ff9a9e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .btn-primary {
    background-color: #7c070b;
    border-color: #4CAF50;
    color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #3e8e41;
    border-color: #3e8e41;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .btn-outline-info {
    border-color: #086e0b;
    color: #4CAF50;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .btn-outline-info:hover {
    background-color: #4CAF50;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .btn-secondary {
    background-color: #5b67a2;
    border-color: #5b67a2;
    color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .btn-secondary:hover {
    background-color: #3e4a8a;
    border-color: #3e4a8a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
</style>


<section id="rating">
  <div class="rating text-center">
    <div class="row text-center" style="align-items:center;">
      <!-- <div class="col-md-2 amount_msg" id="bada">
        <div class="card">
          <div class="card-body">
            <h5><b>WELCOME BACK</b></h5>
            <hr/>
            <i><h6>{{ request.user.first_name }}</h6></i>
          </div>
        </div>
        <form method="POST" class="form-group">
          {% csrf_token %}
          <div class="col-12">
            <div class="row">
              <div class="col-md-12">
                <label for="department_filter">To filter by Month</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>{{ form.name }} <button class="btn btn-outline-info" type="submit">Search</button></p>
              </div>
            </div>
          </div>
        </form>
      </div> -->
      
      <div class="col-md-8" id="bada" style="margin-left: 250px;">
        <div class="cards">
          <div class="card-body">
            <h5><b>DC48K DETAILED BUDGET</b></h5>
            <font size="-1">
              <a class="btn btn-primary" href="#" style="background-color: #5b67a2; border-color: #4CAF50;">
                Ksh.{{ total_amt_ksh|floatformat:2 }} | USD. {{ total_amt|floatformat:2 }}
              </a>
            </font>
            <hr/>
            <i><h6>Select Years</h6></i>
            <hr/>
            <div class="row text-center">
              {% for year in budget_years %}
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <a class="btn btn-primary" href="{% url 'finance:budget_projection' subtitle='detailed' duration=year.budget_year %}" style="background-color: #4CAF50; border-color: #4CAF50;">
                      {{ year.budget_year }}
                    </a>
                    <hr/>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <hr/>
            <i><h6>Select Month</h6></i>
            <hr/>
            <div class="row text-center">
              {% for month in budget_months %}
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <a class="btn btn-primary" href="{% url 'finance:budget_projection' subtitle='detailed' duration=month.month_num %}" style="background-color: #4CAF50; border-color: #4CAF50;">
                      {{ month.month_name }}
                    </a>
                    <hr/>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <hr/>
          </div>
        </div>
      </div>
      
      <!-- <div class="col-md-2" id="bada">
        <div class="card">
          <div class="card-body">
            <h5><b>ACTIONS</b></h5>
            <hr/>
            <div class="col-md-12" id="gi">
              <p><a href="{% url 'finance:budget_projection' subtitle='detailed' duration=2024 %}" class="btn btn-secondary btn-sm">All</a></p>
            </div>
            <hr/>
            <div class="col-md-12" id="gi">
              <p><a href="{% url 'finance:budget_projection' subtitle='summary' duration=2024 %}" class="btn btn-secondary btn-sm">Summary Budget</a></p>
            </div>
            <hr/>
            <div class="col-md-12" id="gi">
              <p><a href="#" class="btn btn-secondary btn-sm">Add Budget Item</a></p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    
    <table class="table table-border" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Category</th>
          <th>Sub Category</th>
          <th>Date</th>
          <th>Item</th>
          <th>Quantity</th>
          <th>Amount</th>
          <th>Total</th>
          {% if user.is_admin or user.is_superuser %}
          <th>Edit</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% regroup budget_items by category as category_list %}
        {% for category in category_list %}
        <tr>
          <td colspan="8" class="font-weight-bold text-left">{{ category.grouper }}</td>
        </tr>
        {% for item in category.list %}
        <tr>
          <td></td>
          <td>{{ item.subcategory.name }}</td>
          <td>{{ item.created_at }}</td>
          <td>{{ item.item }}</td>
          <td>{{ item.qty }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.qty|mul:item.amount }}</td>
          {% if user.is_admin or user.is_superuser %}
          <td><a class="article-title" href="{% url 'finance:budget_projection-update' item.id %}">Edit</a></td>
          {% endif %}
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
