  {%extends "main/base_templates/new_base.html"%}
  {% load mathfilters %}
  {% block content %}
  
  {% include 'main/snippets_templates/styles/styles.html' %} 
 <section id="rating">
    <div class="rating text-center">
          <div class="row text-center">
            <div class="col-md-2 amount_msg" id="bada">
                <div class="card">
                  <div class="card-body">
                    <h5><b>WELCOME BACK</b></h5>
                    <hr/>
                    <i><h6>{{request.user.first_name}}</h6></i>
                  </div>
                </div>
                  <form method="POST"  class="form-group">
                      {% csrf_token %}
                      <div class="col-12">
                          <div class="row">
                              <div class="col-md-12">
                                  <label for="department_filter">To filter by Department</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <p>{{ form.name }} <button class="btn btn-outline-info" type="submit">Search</button></p>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
              
              <div class="col-md-8" id="bada">
                <div class="card">
                  <div class="card-body">
                    <h5><b>CODA BUDGET</b></h5>
                    <font size="-1"
                    <a class="btn btn-primary" href="#"  style="background-color: #5b67a2; border-color: #4CAF50;"> Ksh.{{total_amt_ksh|floatformat:2}} | USD. {{total_amt|floatformat:2}}</a>
                  </font> 
                    <hr/>
                    <i><h6>Select Years</h6></i>
                    <hr/>
                    <div class="row text-center">
                      {% for year in budget_years %}
                          <div class="col-md-4">
                              <div class="card">
                                  <div class="card-body">
                                      <a class="btn btn-primary" href="{%url 'finance:budget_projection' subtitle='summary'  duration=year.budget_year %}" style="background-color: #4CAF50; border-color: #4CAF50;">{{ year.budget_year }}</a>
                                      <hr/>
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                  </div>
                    <div class="row text-center">
                      {% for month in budget_months %}
                          <div class="col-md-4">
                              <div class="card">
                                  <div class="card-body">
                                      <a class="btn btn-primary" href="{%url 'finance:budget_projection' subtitle='summary' duration=month.month_num %}" style="background-color: #4CAF50; border-color: #4CAF50;">{{ month.month_name }}</a>
                                      <hr/>
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                  </div>
                    <hr/>
                  </div>
                </div>
              </div>
              <div class="col-md-2" id="bada">
                <div class="card">
                  <div class="card-body">
                    <h5><b>ACTIONS</b></h5>
                    <hr/>
                    <div class="col-md-12" id="gi">
                      <p><a href="{%url 'finance:budget_projection' subtitle='summary' duration=5 %}" class="btn btn-secondary btn-sm"
                          >All
                      </a></p>
                  </div>
                  <hr/>
                    <div class="col-md-12" id="gi">
                      <p><a href="{%url 'finance:budget_projection' subtitle='detailed' duration=2024 %}" class="btn btn-secondary btn-sm"
                          >Detailed Budget
                      </a></p>
                  </div>
                    <hr/>
                    <div class="col-md-12" id="gi">
                      <p><a href="#" class="btn btn-secondary btn-sm"
                          >Add Budget Item
                      </a></p>
                  </div>
                  </div>
                </div>
              </div>
            </div>


    <table class="table table-border" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
          <tr>
              <th>Category</th>
              <th>Item</th>
              <th>Quantity</th>
              <th>Amount</th>
          </tr>
      </thead>
      <tbody>
             {% for category in categories %}
                  <tr>
                      <td class="font-weight-bold text-left" colspan="4">{{ category }}</td>
                  </tr>
                  {% for item in summary %}
                      {% if item.category__name == category %}
                          <tr>
                              <td></td>
                              <td>{{ item.subcategory__name }}</td>
                              <td>{{ item.total_qty }}</td>
                              <td>{{ item.total_amount }}</td>
                          </tr>
                      {% endif %}
                  {% endfor %}
            {% endfor %}
      </tbody>
    </table>
    </div>
  </section>
  {% endblock content %}