{% extends "main/base_templates/new_base.html" %}
{% load static %}
{% load mathfilters %}
{% load custom_tags %}
{% block title %}
{% if category %}{{ category.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}
<main>
    <br>
    <h2 id="demo"></h2>
    <div class="album py-5 bg-light">
        <h4 class="text-center text-dark">WELCOME TO FINANCE DEPARTMENT</h4>
        <div class="container">
            <div class="row">
                <div class="col-md-3 hover">
                    <h5 class="text-center text-dark">My Dashboard</h5>
                    <div style="border: 1px solid black;padding:20px;">
                            <p>Kindly,select an item to proceed</p>
                    </div>
                    <div style="border: 1px solid black;padding:20px;">
                        <a class="dropdown-item" href="{% url 'finance:transaction-list' transaction_type='all' %}" target="__blank" >Cash Outflows Report</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'finance:company_budget' company_slug='coda' %}" target="__blank" >Budgeting</a>
                        <div class="dropdown-divider"></div>
                        <!-- Use the custom tag to get the current year -->
                        <a class="dropdown-item" href="{% url 'finance:budget_projection' subtitle='detailed' duration=2024 %}" target="_blank">CODA BUDGET</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'finance:open_statements' %}" target="__blank" >Statements</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'investing:companyreturns' title='daily_trades' %}" target="__blank" >CODA Investments</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'investing:investments' %}" target="__blank" >Run Test Investments</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'investing:costbasis'%}" target="__blank" >Cost Basis</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'investing:option_list' title='shortputdata' %}" target="__blank" >Options</a>
                    </div>
                </div>
                <div class="col-md-9 hover">
                        <h4>Edit Employee/h4>  
                     <form method="POST" class="post-form" action="/update/{{employee.id}}">  
                       {% csrf_token %}  
                      <div class="container">  
                     <br>  
                      <div class="form-group row">  
                      <label class="col-sm-1 col-form-label"></label>  
                      <div class="col-sm-4">  
                      <h3>Update Details</h3>  
                      </div>  
                       </div>  
                      <div class="form-group row">  
                      <label class="col-sm-2 col-form-label">Employee Id:</label>  
                      <div class="col-sm-4">  
                       <input type="text" class="form-control" name="id" id="id_id" required maxlength="20" value="{{ employee.id }}"/>  
                      </div>  
                       </div>  
                       <div class="form-group row">  
                      <label class="col-sm-2 col-form-label">Employee Name:</label>  
                      <div class="col-sm-4">  
                       <input type="text" class="form-control" name="name" id="id_name" required maxlength="100" value="{{ employee.name }}" />  
                      </div>  
                       </div>  
                      <div class="form-group row">  
                      <label class="col-sm-2 col-form-label">Employee Email:</label>  
                      <div class="col-sm-4">  
                       <input type="email" class="form-control" name="email" id="id_email" required maxlength="254" value="{{ employee.email }}" />  
                      </div>  
                       </div>  
                      <div class="form-group row">  
                      <label class="col-sm-2 col-form-label">Employee Contact:</label>  
                      <div class="col-sm-4">  
                       <input type="text" class="form-control" name="contact" id="id_contact" required maxlength="15" value="{{ employee.contact }}" />  
                      </div>  
                       </div>  
                      <div class="form-group row">  
                      <label class="col-sm-1 col-form-label"></label>  
                      <div class="col-sm-4">  
                      <button type="submit" class="btn btn-success btn-lg">Update</button>  
                      </div>  
                       </div>  
                      </div>  
                     </form>  
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}


