{% extends "main/base_templates/new_base.html" %} {% load crispy_forms_tags %} {% block content %}
<!-------------------Cards-Category Section----------------------->
<div class="container-fluid padding">
  <div class="row padding text-center">

    <div class="col-md-4" id="bada">
      <div class="card">
           <div class="card-body">
              <h4><b>{{ user.user.username}}</b></h4>
              <img
              class="rounded-circle account-img"
              src="{{ user.profile.image.url }}"
            />
              <hr/>
              <p class="bd">
                {{ user.user.email }}
              </p>
              <hr>
              <div class="row">
                <div class="col-md-4" id="bada">
                  <a href="{% url 'main:members' title='team_profiles' %}" >
                    <button type="button" class="btn btn-primary">GET MORE INFORMATION</button>
                  </a>
                </div>
                <hr>
                <div class="col-md-4" id="bada">
                  <a href="{% url 'accounts:login_history' username %}" >
                    <button type="button" class="btn btn-primary">Login History</button>
                  </a>
                </div>
                <div class="col-md-4" id="bada">
                  <a href="{% url 'main:update_profile' user.id %}" >
                    <button type="button" class="btn btn-primary">Edit Profile</button>
                  </a>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8" id="bada">
          <div class="container">
            <h2>Daily Login Hours</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Login Time</th>
                  <th>Logout Time</th>
                  <th>Total Hours Logged</th>
                </tr>
              </thead>
              <tbody>
                {% for entry in login_history %}
                  <tr>
                    <td>{{ entry.day }}</td>
                    <td>{{ entry.first_login_time|date:"g:i a" }}</td>
                    <td>{{ entry.last_logout_time|date:"g:i a" }}</td>
                    <td>{{ entry.total_hours }}</td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="2">No login history available.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    
            </div>
            
    <hr>
      </div>
    </div>
    {% endblock content %}