{% extends "main/base_templates/base.html" %}
{% block title %}Register{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Minified CSS and JS -->
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>

<style>
   .introduction-div {
    background-color: #03b1af !important; /* Light blue */
    padding: 20px; /* Optional: Add padding for spacing */
  }
  .loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }

  .loginBtn:focus {
    outline: none;
  }

  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
  }

  /* Google */
  .loginBtn--google {
    background: #DD4B39;
  }

  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }

  .form-control:hover {
    border-color: #e7ad4a !important;
    border-width: 2px !important;
    border-radius: 5px;
  }
  @media (max-width: 768px) {
    .signup-button-row {
      display: flex;
      flex-direction: column; /* Stack elements vertically */
      align-items: center;
    }
    .signup-button-row .btn,
    .signup-button-row .loginBtn {
      width: 100%;
      max-width: 300px; /* Optional: set a max-width */
      margin-bottom: 10px;
    }
    .signup-button-row small {
      margin-bottom: 10px;
    }
  }
</style>


<div class="sign-up-div">
  <form method="POST" id="signupForm" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <fieldset class="form-group">
      <div class="row">
        <div class="col-lg-6 introduction-div">
          <h1 class="position-relative">SIGN-UP</h1>
          <p>Welcome to CODA, Are you NEW here? Sign-up to enjoy all the benefits and trainings CODA provides.</p>
          <h2>Pick your Category | Register As:</h2>
          <div class="form-group">
            <select name="category" class="select form-control" id="id_category">
              <option value="0" style="display: none;" selected>Select Category</option>
              <option value="1">Ordinary Member (Free)</option>
              <option value="2">Active Member</option>
              <option value="3">Executive Member</option>
              <option value="4">FBO & Ordinary (Free)</option>
              <option value="5">Active Organization</option>
              <option value="6">Royal Organization</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6 form-div">
          <div class="row">
            <div class="col-md-2 align-self-center">
              <p class="mb-0">First Name*</p>
            </div>
            <div class="col-md-10">
              {{ form.first_name|as_crispy_field }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 align-self-center">
              <p class="mb-0">Last Name*</p>
            </div>
            <div class="col-md-10">
              {{ form.last_name|as_crispy_field }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 align-self-center">
              <p class="mb-0">Email*</p>
            </div>
            <div class="col-md-10">
              {{ form.email|as_crispy_field }}
            </div>
          </div>
          <button class="btn btn-outline-success" type="submit">Sign Up</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>


{% endblock content %}
