{% extends "main/base_templates/base.html" %} 
{% load static %}
{% block content %}
{% load custom_filters %}



<div class="team-container">
  {% for member in team_members %}
      <div class="team-member">
          <img src="{{ member.image.url }}" alt="{{ member.name }}">
          <div class="info">
              <h2>{{ member.name }}</h2>
              <h3>{{ member.role }}</h3>
              <p>{{ member.bio|slice:":150" }}{% if member.bio|length > 150 %}... <a href="#">Read more</a>{% endif %}</p>
          </div>
      </div>
  {% endfor %}
</div>
   
      



{% endblock %}
