@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.logolink:hover {
            text-decoration: none; /* Remove underline on hover */
        }

.list {
  margin-right: 40px;
  padding: 0.8rem;
}

.logolink {
  text-decoration: none;
  margin-left: -40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 570;
  font-size: 30px;
  color: black;
  position: relative; 
}
  
.navList {
  list-style: none;

  display: flex;
  margin-top: 20px;
}

.navLin {
  text-decoration: none;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 550;
  font-size: 13.5px;
  color: white;
  padding: 0.4rem 0.8rem;
  transition: color 0.3s ease;
  position: relative; 
}

.navLin:hover {
  color: #585252;
  text-decoration: none;
}

.navLin::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: gray;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.navLin:hover::after {
  width: 70%;
}

.navLin.active {
  width: 270px;
}
.menu-icon{
  display: none;
}
@media (max-width: 600px) {
  .menu-icon {
    display: block;
    margin-top: 7px;
    cursor: pointer;
    margin-left: 240px;
    color: white;
    font-size: 24px;

    
  }
    .navbar {
    flex-direction: column; /* Change flex direction to column for small screens */
    align-items: center; /* Align items to the center */
  }
  .navbar img{
  margin-left: 40px;
  width: 6%;
  height:6%
}
  .logolink {
  margin-left: -10px;
 }

  .list {
    display: none; /* Hide navigation list by default on small screens */
  }

  .list.active {
    position: absolute;
    display: block;
    margin-top: 90px;
    margin-left: 20px;
    width: 100vw; /* Set width to 100% of viewport width */
    height: 100vh;
   
  }
  
  .list.active ul {
    list-style: none; 
    display: inline-block;
    margin-left: 30px;
    padding: 10px;
   
    
  }
  
 
}
@media (max-width: 800px) {
    .navbar {
    flex-direction: column; 
    /* align-items: center; */
  }
  .navbar img{
  margin-left: -200px;
  margin-top: 40px;
  width: 20%;
  height:20%
}
  .logolink {
  margin-left: 10px;
 }
}  